@font-face {
  font-family: "PT Serif";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #000000;
  --color-secondary: #333333;
  --color-accent-1: #756157;
  --color-accent-2: #82b3d3;

  --color-background-1: #ffffff;
  --color-background-2: #f2f2f2;

  --color-surface: #82b3d3;
  --color-surface-12: rgb(130 179 211 / 12%);
  --color-surface-20: rgb(130 179 211 / 20%);

  --color-on-surface: #ffffff;
  --color-on-surface-30: rgb(255 255 255 / 30%);

  --color-success: #7db54f;
  --color-error: #ff5757;
  --color-disabled: #e5e5e5;

  --color-shadow: rgb(0 0 0 / 20%);

  --headline-size-1: 60px;
  --headline-spacing-1: 78px;

  --headline-size-2: 30px;
  --headline-spacing-2: 36px;

  --headline-size-3: 24px;
  --headline-spacing-3: 28px;

  --headline-size-4: 20px;
  --headline-spacing-4: 24px;

  --text-basic-size: 22px;
  --text-basic-spacing: 26px;

  --text-block-size: 18px;
  --text-block-spacing: 21px;

  --text-phone-size: 40px;
  --text-phone-spacing: 40px;

  --text-small-size: 16px;
  --text-small-spacing: 21px;

  --button-size: 16px;
  --button-spacing: 20px;
  --button-border-radius: 4px;
  --button-weight: 700;

  --input-size: 18px;
  --input-spacing: 24px;

  --control-label-size: 18px;
  --control-label-spacing: 23px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Serif", sans-serif;
  font-size: var(--text-basic-size);
  line-height: var(--text-basic-spacing);
  color: var(--color-secondary);
  background-color: var(--color-background-2);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  line-height: var(--button-spacing);
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: var(--button-border-radius);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 50px;
}

.button--big {
  --button-size: 20px;
  --button-spacing: 36px;
}

.button--regular {
  --button-weight: 400;
}

.button--nonecase {
  text-transform: none;
}

.button--primary {
  color: var(--color-on-surface);
  background-color: var(--color-accent-1);
}

.button--secondary {
  color: var(--color-on-surface);
  background-color: var(--color-accent-2);
}

.page__wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0 var(--color-shadow);
  background-color: var(--color-background-1);
}

.page__cover {
  color: var(--color-on-surface);
  background-color: var(--color-surface-20);
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page__title {
  margin-top: 0;
  font-size: var(--headline-size-1);
  line-height: var(--headline-spacing-1);
}

.navbar {
  font-size: var(--headline-size-4);
}

.menu__link,
.user-menu__link {
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--color-primary);
}

.hero {
  text-align: center;
  color: var(--color-on-surface);
  background-color: var(--color-surface-20);
  background-image: url("../images/divider.svg"), url("../images/background-home.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom center, center;
}

.advantages {
  text-align: center;
}

.advantages__title {
  margin-top: 0;
  font-size: var(--headline-size-2);
  line-height: var(--headline-spacing-2);
  color: var(--color-primary);
  text-transform: uppercase;
}

.advantage:nth-child(2n + 1) {
  background-color: var(--color-surface-12);
}

.advantage:nth-child(2n) {
  background-color: var(--color-surface-20);
}

.advantage.advantage--on-surface {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.advantage__title {
  margin-top: 0;
  font-size: var(--headline-size-3);
  line-height: var(--headline-spacing-3);
  color: var(--color-primary);
  text-transform: uppercase;
}

.advantage__description {
  font-size: var(--text-block-size);
  line-height: var(--text-block-spacing);
}

.advantage--on-surface .advantage__title {
  color: var(--color-on-surface);
}

.advantage__image {
  display: block;
  width: 800px;
  height: 385px;
}

.features {
  text-align: center;
}

.features__title {
  text-transform: uppercase;
  margin-top: 0;
  font-size: var(--headline-size-2);
  line-height: var(--headline-spacing-2);
  color: var(--color-primary);
}

.feature {
  text-align: center;
}

.feature:nth-child(2n+1) {
  background-color: var(--color-surface-12);
}

.feature__title {
  margin-top: 0;
  font-size: var(--headline-size-3);
  line-height: var(--headline-spacing-3);
  color: var(--color-primary);
  text-transform: uppercase;
}

.feature__description {
  font-size: var(--text-block-size);
  line-height: var(--text-block-spacing);
}

.hotel-search {
  text-align: center;
}

.hotel-search__title {
  margin-top: 0;
  font-size: var(--headline-size-2);
  line-height: var(--headline-spacing-2);
  color: var(--color-primary);
  text-transform: uppercase;
}

.subscribe {
  text-align: center;
}

.subscribe--on-surface {
  color: var(--color-on-surface);
  background-color: var(--color-surface-20);
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscribe__title {
  margin-top: 0;
  font-size: var(--headline-size-2);
  line-height: var(--headline-spacing-2);
  text-transform: uppercase;
}

.subscribe__input {
  display: inline-block;
  max-width: 452px;
  width: 100%;
  font-family: inherit;
  font-size: var(--input-size);
  line-height: var(--input-spacing);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-background-2);
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
}

.subscribe__input::placeholder {
  opacity: 0.6;
}

.subscribe__button {
  border-radius: 0 4px 4px 0;
}

.breadcrumbs {
  font-size: var(--text-small-size);
  line-height: var(--text-small-spacing);
}

.breadcrumbs__link {
  color: inherit;
}

.filters {
  font-family: inherit;
}

.filters__legend {
  font-size: var(--headline-size-4);
  line-height: var(--headline-spacing-4);
  font-weight: 700;
}

.filters__label {
  font-size: var(--control-label-size);
  line-height: var(--control-label-spacing);
}

.catalog__title {
  margin-top: 0;
  font-size: var(--headline-size-2);
  line-height: var(--headline-spacing-2);
  color: var(--color-primary);
  text-transform: uppercase;
}

.card__link {
  color: inherit;
  text-decoration: none;
}

.card__image {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.card__title {
  margin-top: 0;
  font-size: var(--headline-size-3);
  color: var(--color-primary);
}

.card__param {
  font-size: var(--text-block-size);
  line-height: var(--text-block-spacing);
}

.pagination {
  color: var(--color-on-surface);
}

.pagination__link,
.pagination__dots {
  --button-size: 20px;
  --button-spacing: 36px;
  --button-border-radius: 4px;

  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  color: inherit;
  background-color: var(--color-accent-2);
  text-decoration: none;
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  line-height: var(--button-spacing);
}

.pagination__link--current {
  color: var(--color-primary);
  background-color: var(--color-background-2);
}

.pagination__dots {
  color: var(--color-primary);
  background-color: transparent;
  user-select: none;
}

.footer {
  color: var(--color-primary);
}

.contacts__phone {
  color: inherit;
  font-size: var(--text-phone-size);
  line-height: var(--text-phone-spacing);
  font-style: normal;
  text-align: center;
  text-decoration: none;
}
